/**********************************Tamaños encabezados***********************/

h1 {
  font-size: 48px;
  line-height: 56px;
}
h2 {
  color: $gray6;
  font-size: 39px;
  line-height: 37px;
}
h3 {
  color: $gray6;
  font-size: 31px;
  line-height: 40px;
}
h4 {
  font-size: 25px;
  line-height: 32px;
}

.text{
    font-size: $text;
    line-height: $textLh;
}

.textLarge {
    font-size: $textLarge;
    line-height: $textLargeLh;
}

.textLargeBold{
    font-size: $textLargeBold;
    line-height: $textLargeBoldLh;
    font-weight: bold;
}

.textSmall {
    font-size: $textSmall;
    line-height: $textSmallLh;
}

.textSmallBold{
    font-size: $textSmallBold;
    line-height: $textSmallBoldLh;
    font-weight: bold;
}