/*Definicion de variables*/

/*Color*/

$gray1: #e3e2e2;
$gray2: #b9b8b7;
$gray3: #8f8e8c;
$gray4: #666462;
$gray5: #4b4948; //Color de texto parrafo
$gray6: #2f2e2d;

$transparency1: rgba(185, 184, 183, 0.7);
$transparency2: rgba(47, 46, 45, 0.85);

$primary1: #ffce32;
$primary2: #f9a519;
$primary3: #f09000;

$secondary1: #46c9ec;
$secondary2: #01b5e6;
$secondary3: #0184a8;

$white: #ffffff;

$danger: #eb5757;

$valid: #27ae60;

$textLargeBold: 20px;
$textLargeBoldLh: 28px;

$textLarge: 20px;
$textLargeLh: 28px;

$text: 16px;
$textLh: 16px;

$textSmallBold: 13px;
$textSmallBoldLh: 20px;

$textSmall: 13px;
$textSmallLh: 20px;
